<html>
    <head>
        <title> Senha incorreta </title>
        <script>
            confirm("Senha incorreta")
            windows.location.replace("/room/<%= roomId %>")
        </script>
    </head>
</html>